<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Regression" >
        <classes>
            <class name="Products.GoDev.Tests.Smoke.S_1_NavigationBar" />
            <class name="Products.GoDev.Tests.Smoke.S_2_Package" />
        </classes>
    </test>

    <test name="FilesWorker testing" >
        <classes>
            <class name="Products.FilesWorker.Tests.S_3_FileWorker" />
        </classes>
    </test>
</suite>
